<li>
  <span class="story"><%= ustory.story %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(ustory.created_at) %> ago.
  </span>
  <% if current_user?(ustory.user) %>
    <%= link_to "delete", ustory, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: ustory.story %>
  <% end %>
</li>

